# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Mock Data / Real Data
data/raw/
data/curated/
data/
*.parquet
*.json

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# OS/IDE
.DS_Store
.vscode/
.idea/
