# Web Scraping
requests==2.31.0
beautifulsoup4==4.12.2

# Data Processing
pyspark==3.5.0

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.21

# BI / Dashboard
streamlit==1.32.0
pandas==2.1.2
altair==5.2.0

# Orchestration (for later)
apache-airflow==2.7.2
